<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../css/middleModule.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h3 class="attractive-h3">
        عروض جديدة
    </h3>

    <img style="width: 80%; height: 40%; border-radius: 20px; max-width: 300px;" src="../../../src/fake_ad.jpg"/>

    

    <br>
    <h3>"ملاحظة اختيارية حول الصفحة"</h3>
    <h3>هذه القائمة ثابتة هنا و بالإمكان إزالتها اختياريا
    </h3>



    <script src="../../../js/middleModule.js"></script>
</body>
</html>