
<h3 id="bob" style="display: none;"> <%= available_products.length %> </h3>
        
       <div id="cart-float"><i></i> <span id="total-quantity">0</span></div>
    
       <h3 style="color: white; font-size: small;">(هذا النص ستتم إزالته عند الشراء)</h3> <h3 id="menu-type" style="color: white;"></h3><h3 style="color: white; font-size: small;  left: 5%; top: 5%; position: absolute;">الأحجام قابلة للتعديل *</h3>
    <embed id="mainContainer" src="../mainContainer/mainContainer.html"/>

    <script src="js/layout.js"></script>