<head>
    <style>
        body{
            background-color: rgba(0, 0, 0, 0.219);
            color: white;
        }
    </style>
</head>
<body>
    <h3>هنا سيتم التحويل إلى صفحة الدفع</h3>
</body>