<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../../../css/formModule.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form>
        <div id="totalPrice-container">
            <span>الإجمالي &nbsp</span> <input style="width: 30px; border: solid black; border-radius: 4px; " id="total-price" name="totalprice" value="0" type="text" readonly/> <span>&nbsp ريال</span>
        </div>
        
        <button type="submit" id="end-submit">تأكيد</button>
    </form>
    <button type="" id="next-submit">التالي</button>
        <button type="" id="back-submit">السابق</button>




    <script src="../../../js/formModule.js"></script>
</body>
</html>